{{> head}}
    {{> navbar}}
      <div class="row">
          <div class="col-8">
              <h1>Este es el about</h1>
          </div>
          <div class="col-4">
              <img src="assets/img/gear.png" class="img-thumbnail" alt="gear-logo">
          </div>
      </div>
{{> footer}}